.nav-items div {
    display: inline-block;
    margin-left: 64px;
}

.nav-items span {
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-right: 100px;
    margin-left: 0;
}

.nav-items {
    display: inline-block;
    margin-bottom: 130px;
}

.nav-items span img {
    margin-right: 0;
    margin-left: 12px;
}

.intro {
    display: flex;
    flex-direction: row;
    /* border: solid black; */
    justify-content: right;
}

.intro-write {
    width: 500px;
    /* border: solid gray; */
}

.intro-image {
    width: 400px;
    /* border: solid red; */
}

.intro-image img {
    border-radius: 230px;
    border: 9px solid;
}

.tech {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: solid indianred;
    justify-content: center;
    align-items: center;
}

.tech-intro {
    text-align: center;
    width: 300px;
}

.tech-intro p {
    height: 0px;
    font-size: x-large;
    font-weight: bolder;
    color: #360684;
}

.tech-explain {
    text-align: center;
    width: 400px;
}

.tech-explain p {
    font-size: small;
    height: 60px;
}

.tech-stack {
    height: 200px;
    width: 600px;
    border: solid rgb(63, 150, 227);
}

.project {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: solid indianred;
    justify-content: center;
    align-items: center;
}

.project-intro {
    text-align: center;
    width: 300px;
}

.project-intro p {
    height: 0px;
    font-size: x-large;
    font-weight: bolder;
    color: #360684;
}

.project-explain {
    text-align: center;
    width: 400px;
}

.project-explain p {
    font-size: small;
    height: 60px;
}

.project-list {
    height: 200px;
    width: 600px;
    border: solid rgb(63, 150, 227);
}

#letter p {
    font-size: 30px;
    font-weight: bold;
}

.nav-footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#footer-first-div {
    display: flex;
    justify-content: space-between;
}

.footer-third-div {
    display: flex;
    justify-content: space-between;
}

.footer-third-div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-third-div div a {
    display: flex;
    justify-content: space-between;
}